body {
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}
  
label, input, select, button {
    margin-top: 10px;
    padding: 8px;
    font-size: 16px;
}

button {
    cursor: pointer;
}

#output {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
